.siteLayout{
  background-image: url("https://img.etimg.com/thumb/width-1200,height-900,imgsize-241742,resizemode-1,msid-81536144/news/economy/finance/standing-committee-on-finance-pushes-for-govt-to-increase-gst-collections-to-compensate-states.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%
}

.layoutShadow {
  padding: 30px 50px;
  min-height: 100vh;
  background-color: rgba(52, 52, 52, 0.8)
}

h1 {
  color: white;
}
h2 {
  color: white;
}